 body{
  background-image: url('https://cdn.zeebiz.com/sites/default/files/styles/zeebiz_850x478/public/2022/04/22/180602-dacpc.jpg?itok=-YN4OPVB');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
 

}