/* .backGround{
    background-image: url('https://www.vectornator.io/blog/content/images/2022/03/610963083219da6a0a00ccb6_Cover-Dark-2.png');
    background-repeat: no-repeat; */
    /* background-size: 100% 100%;
    background-attachment: fixed;
} */